// Sections
.what-we-do,
.section-about-us-brief {
  padding: 15rem 10rem;

  @include respond(tab-land) {
    padding: 8rem 6rem;
  }
  @include respond(phone-big) {
    padding: 5rem 3rem;
  }
}
.section-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6rem;
  @include respond(phone-big) {
    margin-bottom: 3rem;
    flex-direction: column;
  }

  & a {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.3s;
    &:hover {
      color: $color-secondary-accent;
    }
  }
  & a > svg {
    margin-left: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    transform: rotate(-90deg) scale(1.15);
    fill: currentColor;
  }
}

.section-about-us-brief {
  background-color: $color-primary-accent;
  color: $color-white;
}
