.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }
}

.btn--filled {
  &:link,
  &:visited {
    background-color: $color-secondary-accent;
    color: $color-white;
    padding: 1.5rem 3rem;
    font-weight: 500;
  }
  &:hover {
    transform: translate(0, -0.5rem);
    background-color: $color-secondary-accent-hover;
    box-shadow: 0rem 3px 6px rgba($color: #000000, $alpha: 0.16);
  }
  &:active {
    transform: translate(0, -0.2rem);
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary-accent;
    display: inline-block;
    border-bottom: 1px solid $color-primary-accent;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary-accent;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
