.navigation-bar {
  background-color: $color-primary-accent;
  padding: 1.3rem 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $color-white;

  @include respond(tab-land) {
    padding: 1.3rem 6rem;
  }
  @include respond(phone-big) {
    padding: 2rem 3rem;
    grid-gap: 2rem;
    flex-direction: column;
  }

  &__logo {
    width: 10rem;
    grid-area: 'logo';
  }
  &__logo img {
    width: 100%;
  }
  &__nav {
    @include respond(phone-big) {
      display: flex;
      flex-direction: column;
      text-align: center;
      grid-gap: 1rem;
    }

    &__link {
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0 1rem;
      transition: all 0.3s;

      &:hover,
      &--active {
        color: $color-secondary-accent;
      }
    }
  }
  &__cta {
    grid-area: cta;
  }
}
