.photo-text-composition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'text photo';
  grid-gap: 10rem;
  &:not(:last-of-type) {
    margin-bottom: 6rem;
  }

  &__text {
    text-align: right;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 1rem;
    align-content: center;
    grid-area: text;
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }

    &__link {
      a {
        font-size: 2rem;
        font-weight: 400;
        color: $color-secondary-accent;
        transition: all 0.3s;
        text-decoration: underline;
        text-underline-offset: 2px;
        &:hover {
          color: $color-secondary-accent-hover;
          text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
        }
      }
    }
  }
  &__photo {
    grid-area: photo;
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &--reverse {
    grid-template-areas: 'photo text';
    &__text {
      text-align: left;
    }
  }
}
