.header {
  height: 100vh;
  background-image: radial-gradient(
      at top left,
      rgba($color-secondary-accent, 0.8),
      rgba($color-primary-accent, 0.8)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
}
