/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

::selection {
  background-color: #ee0000;
  color: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  /*font-size: 16px;*/
  line-height: 1.5;
  color: #111111;
}

.heading-1 {
  font-size: 4.8rem;
  font-weight: 700;
}

.heading-2 {
  font-size: 3.6rem;
  font-weight: 600;
}

.heading-3 {
  font-size: 2.4rem;
  font-weight: 500;
}

.heading-4 {
  font-size: 2rem;
  font-weight: 500;
}

p,
.paragraph {
  font-size: 1.8rem;
  font-weight: 300;
}
p--light,
.paragraph--light {
  font-weight: 300;
}
p--regular,
.paragraph--regular {
  font-weight: 400;
}
p--bold,
.paragraph--bold {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

.landing-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.5rem;
}
.landing-header-nav__logo {
  width: 12.7rem;
  height: auto;
}
.landing-header-nav__navbar {
  color: #ee0000;
}
.landing-header-nav__navbar__link {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s;
}
.landing-header-nav__navbar__link:hover, .landing-header-nav__navbar__link--active {
  color: #fefefe;
}
.landing-header-nav__navbar__link:not(:last-of-type) {
  margin-right: 3rem;
}

.navigation-bar {
  background-color: #111111;
  padding: 1.3rem 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
@media only screen and (max-width: 75em) {
  .navigation-bar {
    padding: 1.3rem 6rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .navigation-bar {
    padding: 1rem 3rem;
  }
}
.navigation-bar__logo {
  width: 10rem;
}
.navigation-bar__logo img {
  width: 100%;
}
.navigation-bar__nav__link {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 1rem;
  transition: all 0.3s;
}
.navigation-bar__nav__link:hover, .navigation-bar__nav__link--active {
  color: #ee0000;
}

.player {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 7rem;
}
.player__content {
  min-height: 58vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .player__content {
    grid-gap: 3rem;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto;
  }
}
.player__content__text {
  max-width: 44.4rem;
  margin: 0 10%;
  color: #f8f8f8;
}
@media only screen and (max-width: 56.25em) {
  .player__content__text {
    max-width: none;
    order: 2;
    margin: 0;
  }
}
.player__content__text .heading-1 {
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
}
.player__content__text .heading-1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: currentColor;
}
.player__content__visual {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}
@media only screen and (max-width: 56.25em) {
  .player__content__visual {
    justify-content: left;
  }
}
.player__content__visual img {
  width: 100%;
  height: 38rem;
  object-fit: cover;
  border-radius: 1rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .player__content__visual img {
    width: 100%;
  }
}
.player__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.player__controls-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ee0000;
}
.player__controls__btn--previous, .player__controls__btn--next {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  fill: #ee0000;
  transition: all 0.3s;
}
.player__controls__btn--previous:hover, .player__controls__btn--next:hover {
  fill: #f8f8f8;
}
.player__controls__btn--previous svg, .player__controls__btn--next svg {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
}
.scroll-down {
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ee0000;
  fill: #ee0000;
  transition: all 0.3s;
  cursor: pointer;
}
.scroll-down:hover {
  color: #f8f8f8;
  fill: #f8f8f8;
}
.scroll-down svg {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
  margin-left: 1rem;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn--filled:link, .btn--filled:visited {
  background-color: #ee0000;
  color: #ffffff;
  padding: 1.5rem 3rem;
  font-weight: 500;
}
.btn--filled:hover {
  transform: translate(0, -0.5rem);
  background-color: #cc0001;
  box-shadow: 0rem 3px 6px rgba(0, 0, 0, 0.16);
}
.btn--filled:active {
  transform: translate(0, -0.2rem);
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #111111;
  display: inline-block;
  border-bottom: 1px solid #111111;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #111111;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.photo-text-composition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "text photo";
  grid-gap: 10rem;
}
.photo-text-composition:not(:last-of-type) {
  margin-bottom: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .photo-text-composition {
    grid-gap: 6rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .photo-text-composition {
    grid-gap: 2rem;
    grid-template-columns: auto;
    grid-template-areas: "photo" "text";
  }
}
.photo-text-composition__text {
  text-align: right;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 1rem;
  align-content: center;
  grid-area: text;
}
.photo-text-composition__text--left {
  text-align: left;
}
.photo-text-composition__text--right {
  text-align: right;
}
@media only screen and (max-width: 43.75em) {
  .photo-text-composition__text--right {
    text-align: left;
  }
}
.photo-text-composition__text__link a {
  font-size: 2rem;
  font-weight: 400;
  color: #ee0000;
  transition: all 0.3s;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.photo-text-composition__text__link a:hover {
  color: #cc0001;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.photo-text-composition__photo {
  grid-area: photo;
}
.photo-text-composition__photo img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.photo-text-composition--reverse {
  grid-template-areas: "photo text";
}
@media only screen and (max-width: 43.75em) {
  .photo-text-composition--reverse {
    grid-template-columns: auto;
    grid-template-areas: "photo" "text";
  }
}
.photo-text-composition--reverse__text {
  text-align: left;
}

.footer {
  background-color: #111111;
  color: #ffffff;
  padding: 3rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid rgba(240, 240, 240, 0.5);
  font-size: 1.8rem;
  font-weight: 400;
}
@media only screen and (max-width: 75em) {
  .footer {
    padding: 2rem 6rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .footer {
    padding: 1.5rem 3rem;
    flex-direction: column;
  }
  .footer > * {
    margin-bottom: 1rem;
  }
}
.footer__social-media-links {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, auto);
}
.footer__social-media-links a {
  transition: all 0.3s;
}
.footer__social-media-links a:hover {
  color: #ee0000;
}
.footer__social-media-links a svg {
  height: 3rem;
  width: 3rem;
  fill: currentColor;
}
.footer__back-to-top {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.footer__back-to-top svg {
  margin-left: 1rem;
  height: 1.75rem;
  width: 1.75rem;
  transform: scale(1.15) rotate(180deg);
  fill: currentColor;
}
.footer__back-to-top:hover {
  color: #ee0000;
}

.landing-header {
  min-height: 100vh;
  background-image: radial-gradient(at top left, #ee0000, #111111);
  background-size: cover;
  background-position: top;
  padding: 8.5rem 10rem;
}
@media only screen and (max-width: 75em) {
  .landing-header {
    padding: 6rem 6rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .landing-header {
    padding: 5rem 3rem;
  }
}

.header {
  height: 100vh;
  background-image: radial-gradient(at top left, rgba(238, 0, 0, 0.8), rgba(17, 17, 17, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
}

.what-we-do,
.section-about-us-brief {
  padding: 15rem 10rem;
}
@media only screen and (max-width: 75em) {
  .what-we-do,
.section-about-us-brief {
    padding: 8rem 6rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .what-we-do,
.section-about-us-brief {
    padding: 5rem 3rem;
  }
}

.section-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6rem;
}
@media only screen and (max-width: 43.75em) {
  .section-heading-container {
    margin-bottom: 3rem;
  }
}
.section-heading-container a {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
}
.section-heading-container a:hover {
  color: #ee0000;
}
.section-heading-container a > svg {
  margin-left: 1rem;
  height: 1.75rem;
  width: 1.75rem;
  transform: rotate(-90deg) scale(1.15);
  fill: currentColor;
}

.section-about-us-brief {
  background-color: #111111;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
