// COLORS
$color-primary-accent: #111111;

$color-secondary-accent: #ee0000;
$color-secondary-accent-hover: #cc0001;

$color-text-dark: #121212;
$color-text-light: #fefefe;

$color-white: #ffffff;
$color-black: #000000;

$color-site-background-light-1: #f7f7f7;
$color-site-background-light-2: #eeeeee;

// FONT
$default-font-size: 1.6rem;

// GRID

// FLEXBOX
